<!---------------------------------------- Nav ---------------------------------------->


<nav class="navbar navbar-expand-lg bg-dark" style="color:lightgray">
  <a class="navbar-brand" href="#">Hotel</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a data-toggle="modal" data-target="#addGuest" class="nav-link">Check In</a>
      </li>
      <li class="nav-item">
        <a data-toggle="modal" (click)="onActiveRegitrationsShow()" data-target="#activeRegitrations"
          class="nav-link">View Registrations</a>
      </li>
    </ul>
  </div>
</nav>
<!---------------------------------------- Nav End ---------------------------------------->

<!-- Rooms -->
<div class="container">
  <h1>Hotel Rooms</h1>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#Id</th>
        <th scope="col">Room Number</th>
        <th scope="col">Is Empty</th>
        <th scope="col">Actions</th>
        <th scope="col">Room History</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{room.id}}</td>
        <td>{{room.roomNumber}}</td>
        <td>{{room.empty}}</td>
        <td>
          <button class="btn btn-success" [hidden]="room.empty" (click)="onCheckOut(room.id)">Check
            Out</button>
        </td>
        <td>
          <button class="btn btn-warning" data-toggle="modal" data-target="#historyRegistrations"
            (click)="showHistory(room.id)">History</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Rooms End -->



<!-- Modal Register -->
<div class="modal fade" id="addGuest" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register A New Guest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddGuest(addForm)">
          <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="First Name"
              required>
          </div>
          <div class="form-group">
            <label for="email">Last Name</label>
            <input type="email" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last Name"
              required>
          </div>

          <div class="modal-footer">
            <button type="button" id="close-checkIn-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add Guest</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal Register End -->

<!-- Modal Active Regitrations -->
<div class="modal fade" id="activeRegitrations" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Active Registrations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Room Number</th>
                <th scope="col">Is Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let registration of activeRegistrations">
                <td>{{registration.id}}</td>
                <td>{{registration.guest.firstName}}</td>
                <td>{{registration.guest.lastName}}</td>
                <td>{{registration.roomId}}</td>
                <td>{{registration.active}}</td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button type="button" id="close-ActiveRegistrations-form" class="btn btn-secondary"
              data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal Active Regitrations End -->


<!-- Modal Room History Regitrations -->
<div class="modal fade" id="historyRegistrations" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Active Registrations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Room Number</th>
                <th scope="col">Is Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let registration of historyRegistrations">
                <td>{{registration.id}}</td>
                <td>{{registration.guest.firstName}}</td>
                <td>{{registration.guest.lastName}}</td>
                <td>{{registration.roomId}}</td>
                <td>{{registration.active}}</td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button type="button" id="close-ActiveRegistrations-form" class="btn btn-secondary"
              data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal Room History Regitrations End -->